<div class="container"> 
	<div class="card-columns">

	<%= form_for SubCategory.new, url: sub_categories_path, html: { method: :post} do |f| %>
		<% @sub_categories.each do |sub_category| %>
		<label>
			<div class="card">
					<h5 style="color: gray;" class="card-title" style="margin-left: 20%;">	<%= f.check_box "#{sub_category}" %>  <%= f.label sub_category %></h5>
						<%= image_tag "cat/#{sub_category}.jpg", class: 'card-img-top'%>
				  </div>
			</label>
		<% end %>
		</div>
		<%= f.submit "Find Destinations", class: 'btn btn-primary col-md-6 offset-md-3' %>

	<% end %>
