<div class="card-columns">
<%= form_for current_user, url: onboarding_index_path, html: { method: :post} do |f| %>
	
	<% Category::CATEGORIES.keys.each do |category| %>
		<label>
		  <div class="card">
		  	<%= image_tag "cat/#{category}.jpg", class: 'card-img-top'%>
		    <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
		    <div class="card-body">
		      <h5 class="card-title"><%= f.check_box category %> <%= f.label category %></h5>
		    </div>
		  </div>
		</label>
	<% end %>

	<%= f.submit "Next", class: 'btn btn-primary' %>
<% end %>



